.exterior{
    margin-top: 1%;
    margin-right: -750px;

    float: right;
}
.profile-pic-div{
    position: relative;
    margin-top: 30%;
}
#poro{
    margin-top: 50%;
    margin-left: 50%;
}